USE [SINHVIEN51800762]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10/27/2021 11:48:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MSSV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](120) NOT NULL,
	[NgaySinh] [nvarchar](100) NULL,
	[Lop] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
